<div class='footer'>

  <img class='avatar' src='/img/author.jpg'/>
  <div class='personal'>
    <span class="motto">
      work hard on developing myself
    </span>
  </div>

  <ul class='nav'>
    <li class='links'>
      <a href='//simple-peng.github.io/' target='_blank'>
        <img src='/img/github.jpeg' class='git'/>
        GitBlog
      </a>
    </li>
    <li class='links'>
      <a href='http://blog.leanote.com/1059019068@qq.com/' target='_blank'>
        <img src='/img/github.jpeg' class='git'/>
        noteBook
      </a>
    </li>
  </ul>
  <Row>
                <Col span={12}>
                    <Row><h3>{public_repos}</h3></Row>
                    <Row><h3>项目数</h3></Row>
                </Col>
                <Col span={12}>
                     <Row><h3>{followers}</h3></Row>
                     <Row><h3>关注数</h3></Row>
                </Col>
             </Row>
</div>
</body>
</html>